@import url('https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap');
body {
  font-family: 'Noticia Text', serif;
  font-weight: 400;
  background-color: #caf5e3;
  text-align: center;
}
h2,
p,
a {
  font-family: 'Noticia Text', serif;
  font-weight: 400;
}
a:link,
a:visited,
a:active {
  color: rgb(211, 161, 161);
}
a:hover {
  color: rgb(209, 124, 124);
}
#delete-button-div,
#comments-form-div {
  display: hidden;
}
.fa {
  width: 5em;
  height: auto;
}
img {
  height: 400px;
  width: auto;
}
#image-input {
  margin-left: 45%;
}
.project-img {
  width: 25em;
  height: auto;
}
